@charset "utf-8";
/* CSS Document */

/*书本详情*/
.detail{padding-bottom:20px;}
.detail a{color:#39f;}
.detail a:hover{text-decoration:underline;}
.detail .content{width:900px; border:1px solid #ccc; margin-left: 30px;}
.detail .ct{width:850px;margin:15px; height:262px;}
.detail .ct .img{float:left; width:200px; height:240px; line-height:100%; margin-right:15px; border:1px solid #ccc; text-align:center; vertical-align:middle; overflow:hidden; padding:10px 15px;}
.detail .ct .img img{min-width:200px; _width:200px; height:auto; max-width:200px; max-height:240px;}
.detail .ct .description{float:left;}
.detail .description p{margin-bottom:10px;width:600px;}
.detail .ct li{float:left; width:119px; height:46px; margin-right:20px; margin-top:6px;}
.detail .ct li a{display:block;}
.detail .cb{width:870px; margin:0 15px 10px;}
.detail .cb h2, .detail .cs h2{font-size:16px; margin-bottom:5px; color:#39f;}
.detail .cb p{line-height:180%; text-indent:2em;}
.detail .cs{/* width:660px; */ margin:0 15px 15px;}
.detail .cs a{text-decoration:none;}
.detail .cs a:hover{text-decoration: underline;}
.detail .cs table{width:100%; border-top:1px solid #ccc; border-left:1px solid #ccc; margin-top:10px;}
.detail .cs td{width:131px; height:30px; border-bottom:1px solid #ccc; border-right:1px solid #ccc; text-align:center;}


/*相关推荐*/
.detail .recom{/* width:690px; */ margin-top:15px; overflow:hidden;}
.detail .recom .rt{width:100%; padding:5px 0; border-bottom:1px solid #ccc;}
.detail .recom .rt h2{float:left; display:inline; padding-left:11px; border-left:3px solid #3399FF; margin-left:15px;}
.detail .recom .rt p{float:right; display:inline; margin-right:15px;}
.detail .recom .rt a{background:url(../images/change.png) no-repeat left center; padding-left:22px;}
.detail .recom .rb{width:100%; padding:10px 0;}
.detail .recom .rb ul{margin-left:-1px;}
.detail .recom .rb li{float:left; width:98px; height:146px; padding:0 7px;  overflow:hidden;}
.detail .rb p{line-height:100%;}
.detail .rb img{width:90px; height:100px;}
.detail .rb .imgTitle{heigth:36px; line-height:18px; overflow:hidden; margin:10px 5px 0;}

/*购买记录*/
.detail .sale{width:690px;}
.detail .sale_tit{height:30px; line-height:30px; border-bottom:1px solid #ccc;}
.detail .sale_tit h2{color:#999;float:left; diaplay:inline; padding:0 15px; border-left:5px solid #39f; border-right:5px solid #39f; border-top:1px solid #ccc; margin-left:15px; _margin-left:7px; background:#fff;}
.detail .sale_cont{width:100%; padding-top:10px; padding-bottom:15px;}
.detail .sale_cont th{background:#f3f3f3; font-weight:normal; padding:5px; text-align:left;}
.detail .sale_cont .w80{width:80px;}
.detail .sale_cont .w100{width:100px;}
.detail .sale_cont .w120{width:120px;}
.detail .sale_cont .w180{width:180px;}
.detail .sale_cont .w200{width:200px;}
.detail .sale_cont td{padding:10px 5px; text-align:left; border-bottom:1px solid #ccc; vertical-align:top; word-wrap:break-word; overflow:hidden;}
.detail .sale_cont td img{width:60px; height:60px;}
.detail .sale_cont span{display:block; color:#666;}
.detail .sale_cont td i{font-style:normal;}
.detail .sale_cont td .img{float:left;}
.detail .sale_cont td .title{position:relative;}
.detail .sale_cont td .price{color:#f00; font-weight:bold;}
.detail .sale_cont td .btn{margin-bottom:3px;}
.detail .sale_cont td .time, .detail .sale_cont td a{font-size:13px; margin-right:12px;}
.comment{ padding: 10px; width: 880px; margin: 0 auto;}
